div {
    display : block;
}

#_loader{
    display: flex;
    padding-left: 0;
    min-width: 320px;
}

#_sidebar {
    background-color: #aaa;
    height: 100%;
    width: 270px;
    position: fixed;
    padding: 25px 0;
    box-sizing: border-box;
    top: 70px;
}


#_nav.sticky{
    padding-left: 270px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 13%;
    width: 75%;
    display: block;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
}


#_main {
    padding-top: 70px;
    margin: 0 auto;
    height: 1000px;
}